@import "src/styles/mixins/fonts";
@import "src/styles/variables/fonts";
@import "src/styles/variables/screenSizes";
@import "src/styles/variables/colors";

.contact {
  transition: 0.3s;
  outline: 1px solid transparent;
  width: 100%;
  cursor: pointer;
  padding: 15px 12px;
  display: flex;
  align-items: center;
  gap: 18px;
  border-radius: 25px;

  &:hover {
    outline: 1px solid $policeBlue
  }

  &:active {
    outline: 1px solid transparent;
  }

  &__icon {
    @include fontProperties($laptopTitleFontSize, $laptopTitleFontWeight, $laptopTitleLineHeight, $laptopTitleLetterSpacing);
    width: 64px;
    height: 64px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid $policeBlue;
    border-radius: 32px;
  }
}

@media (max-width: $laptopScreenSize) {
  .contact {
    &__icon {
      @include fontProperties($tabletTitleFontSize, $tabletTitleFontWeight, $tabletTitleLineHeight, $tabletTitleLetterSpacing);
    }
  }
}

@media (max-width: $tabletScreenSize) {
  .contact {
    &__icon {
      @include fontProperties($mobileTitleFontSize, $mobileTitleFontWeight, $mobileTitleLineHeight, $mobileTitleLetterSpacing);
    }
  }
}