@import "src/styles/variables/colors";

.message-list__container {
  width: 100%;
  height: 100%;
  overflow-y: hidden;
  display: flex;
  align-items: flex-end;
}

.gap {
  &-small {
    gap: 5px;
  }

  &-medium {
    gap: 10px;
  }

  &-big {
    gap: 15px;
  }
}

.background-color {
  &-primary {
    background-color: transparent;
  }

  &-secondary {
    background-color: $deepAquamarine;
  }
}

