.message {
  position: relative;
  text-align: right;
  padding: 15px 15px;
  border-radius: 20px;
  list-style-type: none;
  max-width: 275px;
  font-family: Arial, sans-serif;
  font-size: 14px;

  &__author-sign {
    position: absolute;
    left: 15px;
    top: 5px;
    font-size: 12px;
  }
}