@import "src/styles/variables/colors";

.search-results {
  max-height: 339px;
  overflow-y: auto;
  padding: 41px 25px;
  background-color: $pastelBlue;
  color: $policeBlue;
  border-radius: 10px;
  list-style-type: none;
  font-weight: 400;
}