@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap');

.container {
  display: grid;
  grid-template-rows: 1fr 10fr 1fr;
  flex-shrink: 0;
  width: 334px;
  padding: 24px 16px 16px 16px;
  background-color: #1E1E1E;
  font-family: 'Roboto', sans-serif;
  color: #F1F2F3;
}

.title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
}

.button {
  justify-self: flex-end;
  color: inherit;
  width: 100%;
  background-color: #131313;
  border: none;
  cursor: pointer;
  border-radius: 8px;
  transition: 0.3s;
  
  &:hover {
    background-color: #0D0D0D;
  }

  &:active {
    background-color: #131313;
  }
}