@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap');
@import "src/styles/mixins/fonts";
@import "src/styles/variables/fonts";
@import "src/styles/variables/screenSizes";
@import "src/styles/variables/colors";

.container {
  display: grid;
  grid-template-rows: 1fr 10fr 1fr;
  gap: 5px;
  flex-shrink: 0;
  width: 334px;
  padding: 24px 16px 16px 16px;
  background-color: $steelTeal;
  border-right: 1px solid $policeBlue;
  font-family: 'Roboto', sans-serif;
  color: $pastelBlue;
}

.title {
  @include fontProperties($laptopTitleFontSize, $laptopTitleFontWeight, $laptopTitleLineHeight, $laptopTitleLetterSpacing);
}

.button {
  @include fontProperties($laptopButtonFontSize, $laptopButtonFontWeight, $laptopButtonLineHeight, $laptopButtonLetterSpacing);
  justify-self: flex-end;
  color: $policeBlue;
  width: 100%;
  background-color: $cadetGrey;
  border: none;
  cursor: pointer;
  border-radius: 8px;
  transition: 0.3s;
  
  &:hover {
    background-color: $pastelBlue;
  }

  &:active {
    background-color: $cadetGrey;
  }
}

@media (max-width: $laptopScreenSize) {
  .title {
    @include fontProperties($tabletTitleFontSize, $tabletTitleFontWeight, $tabletTitleLineHeight, $tabletTitleLetterSpacing);
  }

  .button {
    @include fontProperties($tabletButtonFontSize, $tabletButtonFontWeight, $tabletButtonLineHeight, $tabletButtonLetterSpacing);
  }
}

@media (max-width: $tabletScreenSize) {
  .title {
    @include fontProperties($mobileTitleFontSize, $mobileTitleFontWeight, $mobileTitleLineHeight, $mobileTitleLetterSpacing);
  }

  .button {
    @include fontProperties($mobileButtonFontSize, $mobileButtonFontWeight, $mobileButtonLineHeight, $mobileButtonLetterSpacing);
  }

  .container {
    width: 100%;
    border-right: none;
  }

  .active-messaging__container {
    display: none;
  }
}