@import "src/styles/variables/colors";

.profile-link {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px 25px 10px 10px;
  background-color: $cadetGrey;
  text-decoration: none;
  border-radius: 50px;
  transition: 0.3s;

  svg {
    fill: $cadetGrey;
    background-color: $policeBlue;
    padding: 10px;
    width: 60px;
    height: 60px;
    border-radius: 50px;
    transition: 0.3s;
  }

  span {
    color: $policeBlue;
  }

  &:hover {
    background-color: $pastelBlue;

    & svg {
      fill: $pastelBlue;
    }
  }
}

@media (max-width: 768px) {
  .profile-link {
    display: none;
  }
}