@import "src/styles/variables/colors";

.message-form {
  max-width: 762px;
  padding-top: 10px;
  height: 79px;
  flex-shrink: 0;
  width: 100%;
  display: flex;
  gap: 24px;
  justify-content: space-between;
  margin: 0;
}

.border-normal {
  border: 1px solid $policeBlue;
}

.border-bold {
  border: 5px solid $policeBlue;
}

.angle-roundish {
  border-radius: 15px;
}

.angle-square {
  border-radius: unset;
}