@import url('https://fonts.googleapis.com/css2?family=Lancelot&family=Lato:wght@300;700&display=swap');
@import "src/styles/mixins/fonts";
@import "src/styles/variables/screenSizes";
@import "src/styles/variables/fonts";
@import "src/styles/variables/colors";

// default news article variant
.card {
  display: flex;
  min-height: 358px;
  background-color: $cadetGrey;

  &-headline {
    font-family: 'Lato', sans-serif;
    padding: 85px 48px 45px 25px;
    position: relative;
    display: flex;
    flex-direction: column;
    flex: 0 1 100%;
    align-items: flex-start;

    &__date {
      @include fontProperties($laptopSmallTextFontSize, $laptopSmallTextFontWeight, $laptopSmallTextLineHeight, $laptopSmallTextLetterSpacing);
      background-color: $policeBlue;
      padding: 13px 10px;
      text-align: center;
      color: $pastelBlue;
      position: absolute;
      top: 25px;
      right: 48px;
    }
    &__title {
      @include fontProperties($laptopTitleFontSize, $laptopTitleFontWeight, $laptopTitleLineHeight, $laptopTitleLetterSpacing);
      font-family: 'Lancelot', cursive;
      color: $policeBlue;
      margin-bottom: 20px;
    }
    &__summary {
      @include fontProperties($laptopLargeTextFontSize, $laptopLargeTextFontWeight, $laptopLargeTextLineHeight, $laptopLargeTextLetterSpacing);
      color: $policeBlue;
      margin-bottom: 15px;
    }
    &__button {
      @include fontProperties($laptopButtonFontSize, $laptopButtonFontWeight, $laptopButtonLineHeight, $laptopButtonLetterSpacing);
      color: $policeBlue;
      border: none;
      background-color: transparent;
      cursor: pointer;
      margin-bottom: 15px;
    }
    &__hr {
      border: 1px solid $policeBlue;
      width: 100%;
    }
  }
  &-image {
    & > img {
      width: 455px;
      height: 100%;
      object-fit: cover;
    }
  }

  // alternative news article variant
  &__alternative {
    min-height: 474px;

    & > .card-image {
      order: -1;
      flex: 0 1 100%;

      & > img {
        width: 100%;
      }
    }

    & > .card-headline {
      flex: 0 0 455px;
      padding: 90px 30px 45px 31px;

      & > .card-headline__title {
        order: -1;
      }

      & > .card-headline__hr {
        order: -1;
        margin-bottom: 20px;
      }

      & > .card-headline__button {
        margin-bottom: 0;
      }
    }
  }
}

@media (max-width: $laptopScreenSize) {
  .card {
    &-headline {
      &__date {
        @include fontProperties($tabletSmallTextFontSize, $tabletSmallTextFontWeight, $tabletSmallTextLineHeight, $tabletSmallTextLetterSpacing);
      }
      &__title {
        @include fontProperties($tabletTitleFontSize, $tabletTitleFontWeight, $tabletTitleLineHeight, $tabletTitleLetterSpacing);
      }
      &__summary {
        @include fontProperties($tabletLargeTextFontSize, $tabletLargeTextFontWeight, $tabletLargeTextLineHeight, $tabletLargeTextLetterSpacing);
      }
      &__button {
        @include fontProperties($tabletButtonFontSize, $tabletButtonFontWeight, $tabletButtonLineHeight, $tabletButtonLetterSpacing);
      }
    }
  }
}

@media (max-width: $tabletScreenSize) {
  .card {
    &-headline {
      &__date {
        @include fontProperties($mobileSmallTextFontSize, $mobileSmallTextFontWeight, $mobileSmallTextLineHeight, $mobileSmallTextLetterSpacing);
      }
      &__title {
        @include fontProperties($mobileTitleFontSize, $mobileTitleFontWeight, $mobileTitleLineHeight, $mobileTitleLetterSpacing);
      }
      &__summary {
        @include fontProperties($mobileLargeTextFontSize, $mobileLargeTextFontWeight, $mobileLargeTextLineHeight, $mobileLargeTextLetterSpacing);
      }
      &__button {
        @include fontProperties($mobileButtonFontSize, $mobileButtonFontWeight, $mobileButtonLineHeight, $mobileButtonLetterSpacing);
      }
    }
  }
}