@import "src/styles/variables/colors";

.message {
  &__type {
    &-big {
      padding: 25px 15px;
      max-width: 300px;
    }

    &-medium {
      padding: 15px 15px;
      max-width: 275px;
    }

    &-small {
      padding: 15px 10px;
      max-width: 250px;
    }
  }

  &__user-background {
    background-color: $darkSeaGreen;
    color: $policeBlue;
  }

  &__system-background {
    background-color: $regularRed;
    color: $policeBlue;
  }

  &__author-sign {
    color: $policeBlue;
    position: absolute;
    left: 15px;
    top: 5px;
    font-size: 12px;
  }

  &__other-user {
    background-color: $steelTeal;
    color: $darkSeaGreen;
  }
}