@import "src/styles/variables/colors";

.message {
  align-self: flex-end;
  margin-left: 36%;
  position: relative;

  & > .message__content {
    display: block;
    padding: 15px 50px 18px;
    border-radius: 25px;
    font-size: 26px;
    line-height: 30px;
    letter-spacing: 0.05em;
  }

  &__auth-user {
    padding-right: 21px;
    &:after {
      content: '';
      position: absolute;
      right: 0;
      bottom: 0;
      width: 18px;
      height: 18px;
      border-radius: 9px;
      background-color: $darkSeaGreen;
    }
    & > .message__content {
      background-color: $darkSeaGreen;
      color: $policeBlue;
      margin-bottom: 7px;
    }
  }

  &__other-user {
    align-self: flex-start;
    margin-left: 0;
    margin-right: 36%;
    padding-left: 14px;
    &:before {
      content: '';
      position: absolute;
      left: 0;
      bottom: 0;
      width: 18px;
      height: 18px;
      border-radius: 9px;
      background-color: $steelTeal;
    }
    & > .message__content {
      background-color: $steelTeal;
      color: $darkSeaGreen;
      margin-bottom: 10px;
    }
  }

  &__system-background {
    & > .message__content {
      background-color: $regularRed;
      color: $policeBlue;
    }
  }
}