.header {
  color: white;
  height: 100px;
  display: flex;
  align-items: center;
}

.headline {
  margin: 0;
}

.header-editor {
  padding: 25px;
  background-color: #525252;
  border-radius: 30px;
  display: flex;
  gap: 25px;

  & > label {
    font-size: 32px;
    color: white;
    display: flex;
    gap: 15px;
    & > input {
      border: none;
      background-color: #868686;
      font-size: inherit;
      color: white;
    }
  }

  & > button {
    background-color: transparent;
    border: none;
    font-size: 32px;
    cursor: pointer;
    color: white;
  }
}