$pastelBlue: #B5C7CC;
$cadetGrey: #8BA1AD;
$steelTeal: #587B89;
$policeBlue: #244C66;
$policeBlueSemiTransparent: rgba(36, 76, 102, 0.7);
$deepAquamarine: #407D6C;
$darkSeaGreen: #7DB290;
$regularRed: #DE6564;
$darkRed: #DE5959;

